.body{
 width: 100px;
  height: 660px;
  float: left;
  position:fixed;
  margin-top: 0px;
  background-color: 	#F7F7F7;

}
ul{
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

}
li{
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .4em 0;
  height: 4em;
  border-radius: 4px;
  text-align:center;

}
.img {
  width: 170px;
  height: 250px;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 4px;

}
.id{
  position: relative;
  padding-left: 100px;
}
img{
  width:150px;
  height: 150px;
}
a{
  color: red;
  padding-left: 40px;
}
span{
  padding-left: 40px;
}

