<div class="body">
  <ul >
    <li routerLink="/demo1">促销食品</li>
    <li routerLink="/demo2">进口食品</li>
    <li routerLink="/demo3">零食</li>
    <li routerLink="/demo4">日用品</li>
    <li routerLink="/demo5">饮料</li>
    <li routerLink="/demo6">酒水</li>
    <li routerLink="/demo7">搜索</li>
    <li routerLink="/demo7">购物车</li>
  </ul>
</div>

<br><br><hr/>

<div class="id">


  <div class="cart-thead">
    <div class="column t-checkbox"><input type="checkbox" > 全选</div>
    <div class="column t-goods">商品</div>
    <div class="column t-props"></div>
    <div class="column t-price">单价</div>
    <div class="column t-quantity">数量</div>
    <div class="column t-sum">小计</div>
    <div class="column t-action">操作</div>
  </div>

<div class="cart">
    <span>巧克力</span>
    <span>¥19.90</span>
  <span>2</span>
    <span>39.80</span>
</div>


  <div class="cart-thead" style="background-color: white;height: 40px;padding-top: 12px">
    <div class="column t-checkbox"><input type="checkbox" > 全选</div>
    <div class="column t-goods">删除选中物品</div>
    <div class="column t-props"></div>
    <div class="column t-prices">已选择2件商品</div>
    <div class="column t-quantity"></div>
    <div class="column t-sums">总价</div>
    <div class="column t-actions">结算</div>
  </div>


</div>
